<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.UserMapper">
    <insert id="addUser">
		insert into user(user_account,user_password,gender,isActive)
		values(#{user_account},#{user_password},#{gender},1)
	</insert>

    <select id="getUser" resultType="User">
		select * from user where user_account =
		#{user_account} and user_password = #{user_password} and isActive = 1
	</select>

    <select id="getUserByID" resultType="User">
		select * from user where
		user_id=#{user_id}
	</select>

    <select id="getUserByAccount" resultType="User">
		select * from user where user_account = #{user_account}
	</select>

    <update id="updateUser">
    		update user set user_account =
    		#{user_account}, user_password =
    		#{user_password},head = #{head},intro = #{intro} where user_id = #{user_id}
    </update>

    <update id="updateUserNoHead">
    		update user set user_account =
    		#{user_account}, user_password =
    		#{user_password},intro = #{intro} where user_id = #{user_id}
    </update>

    <update id="destoryUser">
		update user set isActive = 0 where user_id = #{user_id}
	</update>


    <!--*********************后台******************************************************************************-->
    <resultMap id="BaseResultMap" type="pojo.User">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Mar 20 17:15:50 CST 2020.
        -->
        <id column="user_id" jdbcType="INTEGER" property="user_id"/>
        <result column="user_account" jdbcType="VARCHAR" property="user_account"/>
        <result column="user_password" jdbcType="VARCHAR" property="user_password"/>
        <result column="gender" jdbcType="CHAR" property="gender"/>
        <result column="head" jdbcType="VARCHAR" property="head"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="isActive" jdbcType="INTEGER" property="isActive"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Mar 20 17:15:50 CST 2020.
        -->
        user_id, user_account, user_password, gender, head, intro, isActive
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Mar 20 17:15:50 CST 2020.
        -->
        select
        <include refid="Base_Column_List"/>
        from user
        where user_id = #{user_id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Mar 20 17:15:50 CST 2020.
        -->
        delete from user
        where user_id = #{user_id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="pojo.User">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Mar 20 17:15:50 CST 2020.
        -->
        insert into user (user_id, user_account, user_password,
        gender, head, intro, isActive
        )
        values (#{user_id,jdbcType=INTEGER}, #{user_account,jdbcType=VARCHAR}, #{user_password,jdbcType=VARCHAR},
        #{gender,jdbcType=CHAR}, #{head,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{isActive,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="pojo.User">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Mar 20 17:15:50 CST 2020.
        -->
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user_id != null">
                user_id,
            </if>
            <if test="user_account != null">
                user_account,
            </if>
            <if test="user_password != null">
                user_password,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="head != null">
                head,
            </if>
            <if test="intro != null">
                intro,
            </if>
            <if test="isActive != null">
                isActive,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="user_id != null">
                #{user_id,jdbcType=INTEGER},
            </if>
            <if test="user_account != null">
                #{user_account,jdbcType=VARCHAR},
            </if>
            <if test="user_password != null">
                #{user_password,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=CHAR},
            </if>
            <if test="head != null">
                #{head,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=VARCHAR},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="pojo.User">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Mar 20 17:15:50 CST 2020.
        -->
        update user
        <set>
            <if test="user_account != null">
                user_account = #{user_account,jdbcType=VARCHAR},
            </if>
            <if test="user_password != null">
                user_password = #{user_password,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=CHAR},
            </if>
            <if test="head != null">
                head = #{head,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                intro = #{intro,jdbcType=VARCHAR},
            </if>
            <if test="isActive != null">
                isActive = #{isActive,jdbcType=INTEGER},
            </if>
        </set>
        where user_id = #{user_id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="pojo.User">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Mar 20 17:15:50 CST 2020.
        -->
        update user
        set user_account = #{user_account,jdbcType=VARCHAR},
        user_password = #{user_password,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=CHAR},
        head = #{head,jdbcType=VARCHAR},
        intro = #{intro,jdbcType=VARCHAR},
        isActive = #{isActive,jdbcType=INTEGER}
        where user_id = #{user_id,jdbcType=INTEGER}
    </update>

    <select id="getCount" resultType="java.lang.Integer">
    select  count(*) from user ;
  </select>
    <select id="getUserList" parameterType="java.lang.Integer" resultType="pojo.User">
    select  * from user  group  by user_id asc  limit #{currentPageNo},#{pageSize};
  </select>
    <select id="getUserListByName" parameterType="java.lang.String" resultType="pojo.User">
    select  * from user where user_account like concat('%',#{user_account},'%');
  </select>


</mapper>